.header {
  height: 40px;
  background-color: rgb(160, 255, 36);
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  gap: 20px;
}
.links a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.links a:hover {
  color: rgb(25, 30, 20);
  transform: scale(1.2);
}
